---

const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;

---

  <div class="home-container">
    <div class="home-copy">
      <h1>Hello, my name is <span class="nowrap">Jeremy. 👋</span></h1>
      <p>I'm a product engineer, currently working with Elixir, Phoenix, React, and PostgreSQL.</p>
      <p>Previously I've been a CTO, advisor, and consultant. Why did I go back to being an engineer?  I still don't know.</p>
      <p>I'm interested in all sorts of things, ranging from team and workflow processes and Kanban boards to engineering practices, SQL, and ruby optimizations.</p>
      <p>That said, I'm more interested in helping people grow and mentoring and teaching teams good engineering practices than I am in writing code at this point of my career.</p>
      <p>But why am I talking about work here?  What's the point of this site?  Still don't know that either. </p>
    </div>
    <div class="section">
      <h2>Things I care about</h2>
      <p>If you don’t want a messy life, don’t do messy things</p>
      <p>Move slowly and understand what you are doing</p>
      <p>Build small. Talk to each other.</p>
      <p>See others as people - not objects, threats, roles, burdens</p>
      <p>There's no sense in getting mad.</p>
      <p>Question base assumptions and the things you have the most faith in. What would you do if you discovered something you previously held as true was not? Where could we be wrong? </p>
      <p>Systems, not goals</p>
      <p>Go for a long walk</p>
      <p>Rate myself on how I handle incoming information.</p>
      <p>Seek Feedback</p>
      <p>Optimize the whole value stream</p>
      <p>Shorten feedback loops</p>
      <p>Focus on learning, not blaming.</p>
      <p>You can't stop the waves, but you can learn to surf. </p>
      <p>Help people become their own hero</p>
      <p>Be content with what you have</p>
      <p>Don’t spend time trying to move your opponent, just move yourself</p>
      <p>Don't work too much</p>
      <p>Say what you think</p>
      <p>Cultivate Friendships</p>
      <p>Thank the Past You, Fuck the Present you, Think of the Future You</p>
      <p>Forgive Yourself</p>
      <p>Let go of comparing</p>
      <p>Let go of competing</p>
      <p>Let go of judgements</p>
      <p>Let go of blame</p>
      <p>Let go of guilt</p>
      <p>Let go of fear</p>
      <p>Remember the value of nothing</p>

    </div>
    <div class="section">
      <h2>The Amazing Conglomeration of Disasters</h2>
      <p></p>
    </div>
  </div>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
  }

  .home-copy {
    flex: 1;
    width: clamp(500px, 80%, 1000px);
    max-width: 100%;
  }

  .home-copy p {
    font-size: 1.5rem;
  }

  .section {
    width: clamp(400px, 60%, 800px);
    max-width: 80%;
  }

</style>
