<footer>
  <span>
    &copy; {new Date().getFullYear()} AmazingConglomerationOfDisasters.com
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 1em;
    font-family: var(--font-family-sans);
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
